<!DOCTYPE html>
<html>

<head th:replace="header :: meta_header('top',~{::link},~{::script})">
</head>

<body>
	<div class="contents row" th:object="${findTweet}">
		<div class="container">
			<h3>編集する</h3>
			<form action="editTweet" method="post" enctype="multipart/form-data">
				<input type="file" id="file" name="file">
				<input type="hidden"
				id="imageId"
				name="imageId"
				th:field ="${findTweet.image.imageId}">
				<input type="hidden"
				id="id"
				name="id"
				th:field="${findTweet.id}">
				<textarea rows="10" th:text="${findTweet.tweet}"　id="tweet" name="tweet"></textarea>
				<input type="hidden"
				id="userId"
				name="userId"
				th:field="${tweetUser.userId}">
				<input type="submit" value="更新する">
			</form>
		</div>
	</div>
</body>

</html>