<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="meta_header(title,links,scripts)">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Pictweet</title>
</head>

<body>
	<header class="header" th:fragment="header">
		<div class="header__bar row" th:Object="${loginUser}">
			<h1 class="grid-6"><a href="/">Pictweet</a></h1>
			<!-- ユーザーがログイン成功した場合 -->
			<div class="user_nav grid-6" th:if="${loginUser != null}">
				<span><label th:text="${loginUser.nickname}"></label>
					<ul class="user__info">
						<li>
							<a href="/">マイページ</a>
							<a th:href="logout">ログアウト</a>
						</li>
					</ul>
				</span>
				<a class="post" th:href="new">投稿する</a>
			</div>
			<!--後ほど記述 -->
			<!-- ログインしていない場合 -->
			<div class="grid-6" th:if="${loginUser == null}">
				<a class="post" href="login.html">ログイン</a>
				<a class="post" th:href="registration">新規登録</a>
			</div>
		</div>
	</header>
	<footer>

		<p>
			Copyright Pictweet 2023.
		</p>
	</footer>
</body>

</html>