<!DOCTYPE html>
<html>

<head th:replace="header :: meta_header('top',~{::link},~{::script})">
</head>

<body>
	<div th:replace="~{header :: header}"></div>
	<div class="contents row">
		<div class="content_post" th:each="tweet : ${tweets}">
			<div class="more">
				<span><img src="arrow_top.png" alt="サンプル画像"></span>
				<ul class="more_list">
					<li>
						<a th:href="@{show/{id}(id=${tweet.id})}">詳細</a>
					</li>
					<li>
						<a th:href="@{edit/{id}(id=${tweet.id})}">編集</a>
					</li>
					<li>
						<a th:href="@{delete/{id}(id=${tweet.id})}">削除</a>
					</li>
				</ul>
			</div>
			<p th:text="${tweet.tweet}"></p>
			
			<span>
				<a href="">
					投稿者：<span th:text="${tweet.user.nickname}"></span>
				</a>
			</span>
		</div>
	</div>
</body>

</html>