<!DOCTYPE html>
<html>

<head th:replace="header :: meta_header('top',~{::link},~{::script})">
</head>

<body>
	<div th:replace="~{header :: header}"></div>
	<div class="contents row">
		<div class="content_post">
			<div class="more">
				<span><img src="arrow_top.png" alt="サンプル画像"></span>
				<ul class="more_list">
					<li>
						<a href="detail.html">詳細</a>
					</li>
					<li>
						<a href="edit.html">編集</a>
					</li>
					<li>
						<a href="delete.html">削除</a>
					</li>
				</ul>
			</div>
			<p>ここにツイートの内容が表示される</p>
			<span>
				<a href="">
					<span>投稿者：</span>ユーザー名
				</a>
			</span>
		</div>
	</div>
</body>

</html>