<!DOCTYPE html>
<html>

<head th:replace="header :: meta_header('top',~{::link},~{::script})">
</head>

<body>
	<div class="contents row">
		<div class="container">
			<h3>投稿する</h3>
			<form action="newTweet" method="post" enctype="multipart/form-data">
				<input type="file" id="file" name="file">
				<textarea placeholder="ここに投稿したい内容を記載してね" rows="10" id="tweet" name="tweet"></textarea>
				<input type="hidden"
				id="userId"
				name="userId"
				th:field="${loginUser.userId}">
				<input type="submit" value="投稿する">
			</form>
		</div>
	</div>
</body>

</html>