<!DOCTYPE html>
<html>

<head th:replace="header :: meta_header('top',~{::link},~{::script})">
</head>

<body>
	<div th:replace="~{header :: header}"></div>
	<div class="contents row" ty:object="${showTweet}">
		<div class="content_post"><img th:src="*{'data:image/jpeg;base64,' + {showTweet.image.image}}" th:alt="${showTweet.image.imageName}">
			<div class="more">
				<span><img src="/arrow_top.png" alt="サンプル画像"></span>
				<ul class="more_list">
					<li>
						<a th:href="@{/edit/{id}(id=${showTweet.id})}">編集</a>
					</li>
					<li>
						<a th:href="@{/delete/{id}(id=${showTweet.id})}">削除</a>
					</li>
				</ul>
			</div>
			<p th:text="${showTweet.tweet}"></p>
			<span class="name">
				<a href="">
					投稿者：<span th:text="${showTweet.user.nickname}"></span>
				</a>
			</span>
		</div>
	</div>
</body>

</html>